<!DOCTYPE html>
<html xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
	integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
	crossorigin="anonymous">

<head>
<title>Spring-Boot Básico</title>
<meta charset="UTF-8" />
</head>
<body>

	<div class="content-wrapper" layout:fragment="corpo">
		<form class="container was-validated" method="post"
			th:object="${user}" th:action="@{/usuario/save}">

			<!--Input responsável em guardar o id-->
			<input id="id" name="id" type="hidden" th:field="*{id}"
				th:value="*{id}" />

			<!-- div reponsável em mostrar os erros -->
			<div class="form-group row">
				<div class="alert alert-danger alert-dismissible fade show"
					role="alert" th:if="${#fields.hasAnyErrors()}">

					<button type="button" class="close" data-dismiss="alert"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>

					<div th:each="detailedError : ${#fields.detailedErrors()}">
						<strong th:text="${detailedError.message}"> </strong>
					</div>
				</div>
			</div>
			<!-- Começo do input -->
			<div class="form-group">
				<label for="usr">Nome Completo:</label> <input type="text"
					th:field="*{nomeCompleto}" class="form-control" id="usr">
			</div>

			<div class="form-group is-invalid">
				<label for="cpf">CPF:</label> <input type="text" th:field="*{cpf}"
					class="form-control" id="cpf">
			</div>

			<div class="form-group">
				<label for="email">E-mail:</label> <input type="text"
					th:field="*{email}" class="form-control" id="email">
			</div>


			<div class="form-group">
				<label for="data">Login:</label> <input type="text"
					th:field="*{username}" class="form-control">
			</div>

			<div class="form-group">
				<label for="data">Senha:</label> <input type="password"
					th:field="*{password}" class="form-control">
			</div>

			<div class="form-group">
				<label for="inputRole">Papéis:</label><br/>

				<select th:field="*{role}" id="inputRole" multiple="multiple"
					onChange="onstatechange(this)" class="infobox">
					<option th:each="role : ${roles}" th:value="${role.id}"
						th:text="${role.nome}"></option>
				</select>

			</div>


			<button type="submit" class="btn btn-primary">Cadastrar</button>

		</form>
		<script type="text/javascript" th:src="@{/js/mascaras.js}"></script>
	</div>


</body>


</html>
